* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/*? Variables */
:root {
  --primary-teal: #00b8b8;
  --dark-text: #2d4a52;
  --light-text: #6b7280;
  --bg-gradient-start: #b5ece6;
  --bg-gradient-end: #d9f4f1;
}
.TheBody {
  width: 100%;
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
/* Header  */
.TheHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 20px auto;
  padding: 15px 0 0 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo svg{
  color: var(--primary-teal);
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
.logo-text {
  font-size: 1.8rem;
  font-weight: 800;
  color: #000;
}
.nav-links {
  display: flex;
  gap: 28px;
  align-items: center;
}
.down-container{
    position: relative;
    list-style: none;
    padding-bottom: 5px;
    top: 2px;
}
.down-menu{
    position: absolute;
    list-style: none;
    top: 20px;
    visibility: hidden;
}
.down-container:hover .down-menu{
    visibility: visible;
}
.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s ease;
}
.nav-links a:hover {
  color: var(--primary-teal);
}
.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  background-color: var(--primary-teal);
  color: transparent;
}
.btn::before {
  content: "Book Your Visit";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateY(0);
  transition: transform 0.5s ease;
}
.btn::after {
  content: "Book Your Visit";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #009999;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.btn:hover::before {
  transform: translateY(100%);
}
.btn:hover::after {
  transform: translateY(0);
}
/* main  */
.hero-div{
    width: 100%;
    padding: 80px;
    text-align: center;
    background-color: rgb(229, 247, 245);
}
.hero-div a{
    text-decoration: none;
}
.title-hero{
    font-size: 45px;
    margin-bottom: 10px;
}
.home-link{
    color: gray;
}
.contact-link{
    color: black;
}